@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 15%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 93%;
    --accent-foreground: 0 0% 15%;

    --destructive: 0 70% 40%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 70%;

    --radius: 0.5rem;

    --peach: 30 100% 85%;
    --peach-foreground: 30 80% 35%;

    --mint: 122 37% 84%;
    --mint-foreground: 0 0% 10%;

    --silver: 0 0% 64%;
    --silver-foreground: 0 0% 10%;

    --tiffany: 174 42% 65%;
    --tiffany-foreground: 0 0% 10%;

    --cambridge: 146 27% 63%;
    --cambridge-foreground: 0 0% 10%;

    --blue: 185 70% 68%;
    --blue-foreground: 0 0% 7%;

    --mindaro: 68 74% 74%;
    --mindaro-foreground: 0 0% 10%;

    --mikado: 46 100% 63%;
    --mikado-foreground: 0 0% 10%;

    --sunset: 35 100% 70%;
    --sunset-foreground: 0 0% 10%;

    --melon: 18 90% 73%;
    --melon-foreground: 0 0% 10%;

    --tickle: 339 70% 72%;
    --tickle-foreground: 0 0% 10%;

    --wisteria: 271 42% 71%;
    --wisteria-foreground: 0 0% 10%;

    --slate: 252 54% 64%;
    --slate-foreground: 0 0% 10%;

    --lavender: 261 46% 84%;
    --lavender-foreground: 0 0% 10%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 95%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 95%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 50% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 60%;

    --peach: 30 100% 85%;
    --peach-foreground: 30 80% 35%;

    --mint: 122 37% 84%;
    --mint-foreground: 0 0% 7%;

    --silver: 0 0% 64%;
    --silver-foreground: 0 0% 7%;

    --tiffany: 174 42% 65%;
    --tiffany-foreground: 0 0% 7%;

    --cambridge: 146 27% 63%;
    --cambridge-foreground: 0 0% 7%;

    --blue: 185 70% 68%;
    --blue-foreground: 0 0% 7%;

    --mindaro: 68 74% 74%;
    --mindaro-foreground: 0 0% 7%;

    --mikado: 46 100% 63%;
    --mikado-foreground: 0 0% 7%;

    --sunset: 35 100% 70%;
    --sunset-foreground: 0 0% 7%;

    --melon: 18 90% 73%;
    --melon-foreground: 0 0% 7%;

    --tickle: 339 70% 72%;
    --tickle-foreground: 0 0% 7%;

    --wisteria: 271 42% 71%;
    --wisteria-foreground: 0 0% 7%;

    --slate: 252 54% 64%;
    --slate-foreground: 0 0% 7%;

    --lavender: 261 46% 84%;
    --lavender-foreground: 0 0% 7%;
  }

  .beige.light {
    --background: 39 13% 92%;
    --foreground: 39 6% 18%;

    --card: 39 8% 98%;
    --card-foreground: 39 6% 18%;

    --popover: 39 13% 94%;
    --popover-foreground: 39 6% 18%;

    --primary: 39 10% 20%;
    --primary-foreground: 39 6% 95%;

    --secondary: 39 6% 90%;
    --secondary-foreground: 39 6% 25%;

    --muted: 39 6% 75%;
    --muted-foreground: 39 6% 35%;

    --accent: 39 6% 77%;
    --accent-foreground: 39 6% 15%;

    --destructive: 0 70% 45%;
    --destructive-foreground: 0 0% 100%;

    --border: 39 5% 80%;
    --input: 39 5% 80%;
    --ring: 39 5% 60%;

    --radius: 0.5rem;
  }

  .beige.dark {
    --background: 39 6% 18%;
    --foreground: 39 6% 92%;

    --card: 39 6% 18%;
    --card-foreground: 39 6% 92%;

    --popover: 39 6% 18%;
    --popover-foreground: 39 6% 92%;

    --primary: 39 6% 92%;
    --primary-foreground: 39 10% 20%;

    --secondary: 39 5% 25%;
    --secondary-foreground: 39 5% 85%;

    --muted: 39 6% 35%;
    --muted-foreground: 39 5% 60%;

    --accent: 39 6% 35%;
    --accent-foreground: 39 6% 95%;

    --destructive: 0 60% 40%;
    --destructive-foreground: 0 85% 100%;

    --border: 39 6% 25%;
    --input: 39 6% 25%;
    --ring: 39 5% 75%;
  }

  .olive.light {
    --background: 85 20% 94%;
    --foreground: 85 15% 15%;

    --card: 85 15% 98%;
    --card-foreground: 85 15% 15%;

    --popover: 85 10% 95%;
    --popover-foreground: 85 20% 10%;

    --primary: 85 30% 25%;
    --primary-foreground: 85 20% 95%;

    --secondary: 85 10% 85%;
    --secondary-foreground: 85 20% 20%;

    --muted: 85 10% 70%;
    --muted-foreground: 85 5% 35%;

    --accent: 85 10% 75%;
    --accent-foreground: 85 10% 15%;

    --destructive: 0 70% 45%;
    --destructive-foreground: 0 0% 100%;

    --border: 85 10% 80%;
    --input: 85 10% 80%;
    --ring: 85 10% 60%;
  }

  .olive.dark {
    --background: 85 10% 10%;
    --foreground: 85 15% 90%;

    --card: 85 10% 12%;
    --card-foreground: 85 15% 90%;

    --popover: 85 10% 15%;
    --popover-foreground: 85 20% 90%;

    --primary: 85 30% 80%;
    --primary-foreground: 85 25% 15%;

    --secondary: 85 10% 25%;
    --secondary-foreground: 85 10% 85%;

    --muted: 85 5% 35%;
    --muted-foreground: 85 5% 60%;

    --accent: 85 10% 30%;
    --accent-foreground: 85 10% 95%;

    --destructive: 0 60% 40%;
    --destructive-foreground: 0 85% 100%;

    --border: 85 10% 25%;
    --input: 85 10% 25%;
    --ring: 85 10% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground antialiased;
  }
  html {
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  width: 0;
  background: rgba(0, 0, 0, 0);
}

#block-scrollarea [data-radix-scroll-area-viewport] > div {
  min-width: 0 !important;
  display: block !important; /* optional: override table */
}
