.tiptap {
  p.is-editor-empty:first-child::before {
    color: hsl(var(--muted-foreground));
    opacity: 1;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  p.is-empty::before {
    color: hsl(var(--muted-foreground));
    opacity: 1;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  :first-child {
    margin-top: 0;
  }

  .tiptap-sub {
    display: unset;
  }

  h1 {
    scroll-margin: 5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    letter-spacing: -.025em;
    margin: 40px 0 0 0;

    @media (min-width: 1024px) {
      font-size: 3rem;
      line-height: 1;
    }
  }

  h2 {
    scroll-margin: 5rem;
    border-bottom: 1px solid hsl(var(--border));
    padding-bottom: .5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    letter-spacing: -.025em;
    margin: 40px 0 0 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    scroll-margin: 5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -.025em;
    margin: 32px 0 0 0;
  }

  p {
    line-height: 1.75rem;
    margin: 0;

    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  a {
    cursor: pointer;
    font-weight: 500;

    span {
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-color: currentColor !important;
    }
  }

  blockquote {
    font-style: italic;
    padding-left: 1.5rem;
    margin: 1.5rem 0px 1.5rem 0px !important;
    border-left: 2px solid oklch(0.92 0.004 286.32);
  }

  ul {
    list-style-type: disc;
    margin: 1.5rem 0 1.5rem 1.5rem;
    padding: 0;

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;
      }
    }

    li p {
      margin-top: .5rem !important;
      line-height: normal !important;
    }
  }

  ol {
    list-style-type: decimal;
    margin: 1.5rem 0 1.5rem 1.5rem;
    padding: 0;

    li p {
      margin-top: .5rem !important;
      line-height: normal !important;
    }
  }

  mark {
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
    color: hsl(var(--primary-foreground));
    background: hsl(var(--primary));
  }

  .ProseMirror {
    &:focus-visible {
      outline: none;
      border: none;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}
